
footer.footer-section {
  background: #25272e;
  overflow:hidden;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bg-with-black {
  position: relative;
}

.footer-top-section {
  overflow:hidden;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 10px;
}

.single-fta > img {
  margin: 0 0 7px;
}

.single-fta ul.fta-list {
  list-style: outside none none;
  padding-left: 0;
}

.single-fta ul.fta-list li, .single-fta ul.fta-list li a {
  color: #bcc0c4;
  display: block;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 36px;
  text-decoration: none;
}
.single-fta{
  margin-top: 20px;
}
.about-footer{
  margin-top: 20px;
}
.about-footer .about-title{
  margin-bottom: 0.85em;
  text-align: left;
  line-height: 1.7;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}
.single-fta ul.fta-list {
  list-style: outside none none;
  padding-left: 0;
  margin-top: 5px;
  font-size: 16px;
}

.fta-title {
  color: #FFFFFF;
  font-weight: 500;
  letter-spacing: 0;
  margin: 0 0 10px;
  font-size: 16px;
  text-transform: uppercase;
}

.fba-links {
  text-align: right;
}

.fba-links ul li a {
  color: #FFFFFF;
  display: block;
  font-size: 14px;
  letter-spacing: 0;
  text-decoration: none;
}

.fba-links ul {
  list-style: outside none none;
  padding: 10px;
}

.fba-links ul li {
  display: inline-block;
  margin-left: 28px;
}

.fba-copyright p {
  color: rgba(255, 255, 255, 0.5);
  line-height: 20px;
  text-align: center;
}
.footer-contact{
  margin-left: 10px;
}
.footer-contact p {
  position: relative;
  margin-bottom: 14px;
  display: flex;
  color: #bcc0c4;
}
.footer-contact .label {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 700;
  margin-right: 10px;
}
.single-fta ul.fta-follow li, .single-fta ul.fta-follow li a {
  color: #FFFFFF;
  display: inline-block;
  font-size: 14px;
  width: 50px;
  letter-spacing: 0;
  line-height: 36px;
  text-decoration: none;
}
.single-fta ul.fta-follow {
  list-style: outside none none;
  padding-left: 0;
  margin-top: 5px;
}
.single-fta .fta-follow{

}
.social-block .social-list .single-social {
  position: relative;
  display: inline-block;
  color: #fff;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  margin-right: 15px;
  margin-top: 5px;
}
.social-list .single-social.facebook {
  background: #2b5893;
}
.social-list .single-social.instagram {
  background: #cd486b;
}
.social-list .single-social.twitter {
  background: #1ea8d4;
}
.social-list .single-social.whatsapp {
  background: #25D366;
}
