<section class="project-area">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header" data-aos="fade-up">
            <h3 class="second-headline">OUR SERVICES</h3>
            <h3 class="first-headline">Tailored Freight Services</h3>
            <span class="cg__symbol">
									<span></span>
								</span>
          </div>
        </div>
      </div>

      <div class="row" >
        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-6 justify-content-center">
          <div class="card trip-card" data-aos="fade-up">
            <img class="card-image" src="../../../assets/images/sea-delivery.jpg" alt="">
            <div class="card-content">
              <div class="card-visible">
                <h4>SEA DELIVERY</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-6 justify-content-center">
          <div class="card trip-card" data-aos="fade-up">
            <img class="card-image" src="../../../assets/images/ground-shipping.jpg" alt="">
            <div class="card-content">
              <div class="card-visible">
                <h4>GROUND SHIPPING</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-6 justify-content-center">
          <div class="card trip-card" data-aos="fade-up">
            <img class="card-image" src="../../../assets/images/air-delivery.jpg" alt="">
            <div class="card-content">
              <div class="card-visible">
                <h4>AIR DELIVERY</h4>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row services" data-aos="fade-up">
        <div class="col-lg-3 col-md-6 box" data-wow-duration="1.4s" data-aos="fade-up">
          <div class="icon">
            <i class="fa fa-codepen"></i></div>
          <h4 class="title"><a>FORWARDING SERVICES</a></h4>
          <p class="description">Intrinsicly drive stand-alone strategic theme areas vis-a-vis unique metrics.
            Efficiently cultivate empowered e-services whereas orthogonal human capital. Intrinsicly evisculate cross
            functional</p>
        </div>
        <div class="col-lg-3 col-md-6 box " data-wow-duration="1.4s" data-aos="fade-up">
          <div class="icon"><i class="fa fa-sitemap"></i></div>
          <h4 class="title"><a>TRANSPORT OF PACKAGE GOODS</a></h4>
          <p class="description">Intrinsicly drive stand-alone strategic theme areas vis-a-vis unique metrics.
            Efficiently cultivate empowered e-services whereas orthogonal human capital. Intrinsicly evisculate cross
            functional</p>
        </div>
        <div class="col-lg-3 col-md-6 box" data-wow-duration="1.4s" data-aos="fade-up">
          <div class="icon"><i class="fa fa-mobile-phone"></i></div>
          <h4 class="title"><a>INTERNATION ROAD TRANSPORT</a></h4>
          <p class="description">Intrinsicly drive stand-alone strategic theme areas vis-a-vis unique metrics.
            Efficiently cultivate empowered e-services whereas orthogonal human capital. Intrinsicly evisculate cross
            functional</p>
        </div>
        <div class="col-lg-3 col-md-6 box" data-wow-delay="0.1s" data-wow-duration="1.4s" data-aos="fade-up">
          <div class="icon"><i class="fa fa-database"></i></div>
          <h4 class="title"><a>WAREHOUSING AND STORAGE</a></h4>
          <p class="description">Intrinsicly drive stand-alone strategic theme areas vis-a-vis unique metrics.
            Efficiently cultivate empowered e-services whereas orthogonal human capital. Intrinsicly evisculate cross
            functional</p>
        </div>
      </div>

    </div>
  </div>
</section>


