
.team-area {
  background-color: #FFFFFF;
  padding-top: 80px;
}
.section-header {
  margin-bottom: 50px;
  text-align: center;
  margin-top: 50px;
}

.section-header .first-headline {
  position: relative;
  padding: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #bababa;
  letter-spacing: 0;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}
.section-header .second-headline {
  font-size: 34px;
  position: relative;
  padding: 0;
  color: #0a0a0a;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.1;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}
.cg__symbol {
  margin-top: 0;
  margin-bottom: 10px;
  display: block;
}
.cg__symbol span {
  display: inline-block;
  width: 50px;
  height: 3px;
  background-color: #0286EA;
}


.slider {
  background-color: white;
}

.slider-link {
  text-decoration: none
}

.owl-item{
  /*width: 50px;*/
  width: 250px;
}
