<section class="team-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header">
          <h3 class="second-headline">OUR CLIENTS & PARTNERS</h3>
          <h3 class="first-headline">Meet our Clients</h3>
          <span class="cg__symbol">
									<span></span>
								</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container-fluid justify-content-center" style="background-color: white;">
        <owl-carousel-o [options]="customOptions" (translated)="getPassedData($event)">
          <ng-container *ngFor="let item of partners">
            <ng-template carouselSlide>
              <div class="slider p-0">
                <img [src]="item.src" class="image" [alt]="item.alt"  style="height: 150px; width: 150px;cursor: pointer">
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
    </div>
</section>

