  <section class="contacts">
    <div class="overlay">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header" data-aos="fade-up">
          <h3 class="second-headline">CONTACTS</h3>
          <span class="cg__symbol">
									<span></span>
								</span>
        </div>
      </div>
    </div>
    <div class="row wow fadeInUp" >
      <div class="col-lg-8">
        <div class="row">
          <div class="col-md-5 info" data-aos="fade-up">
            <i class="fa fa-map-marker"></i>
            <p> Maarifa House opposite ATC Ohio Street,<br> 1st Floor, Plot no: 775/39.</p>
          </div>
          <div class="col-md-4 info" data-aos="fade-up">
            <i class="fa fa-send"></i>
            <p>smafreight@gmail.com</p>
          </div>
          <div class="col-md-3 info" data-aos="fade-up">
            <i class="fa fa-phone"></i>
            <p>+255 22 2120877</p>
          </div>
        </div>

        <mat-card class="mat-elevation-z0" data-aos="fade-up" style="  border: 1px solid #e9ecef;">
          <mat-card-title class="p-3">MAKE AN ENQUIRY</mat-card-title>
          <form>
            <div class="row">
              <div class="col-xl-6 col-md-6 col-lg-6 col-sm-12">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input matInput placeholder="Your Email" required
                         type="email">
                </mat-form-field>
              </div>
              <div class="col-xl-6 col-md-6 col-lg-6 col-sm-12">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input matInput placeholder="Your Name" required
                         type="text">
                </mat-form-field>
              </div>
              <div class="col-xl-12 col-md-12 col-lg-12 col-sm-12">
                <mat-form-field class="example-full-width" appearance="outline">
                  <input matInput placeholder="Subject" required
                         type="text">
                </mat-form-field>
              </div>
              <div class="col-xl-12 col-md-12 col-lg-12 col-sm-12">
                <mat-form-field class="example-full-width" appearance="outline">
                  <textarea matInput  cols="35" rows="8" placeholder="Your Message" required></textarea>
                </mat-form-field>
              </div>
              <div class="col-12 text-center">
                <button style="height: 5vh;" class="second-button"
                        type="submit">
                  SEND
                </button>
              </div>
            </div>
          </form>
        </mat-card>
      </div>
      <div class="col-lg-4" >
        <div class="map mb-4 mb-lg-0" data-aos="fade-up">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1980.8160685308087!2d39.29064988556918!3d-6.8145190750315425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x185c4b11c0d31d05%3A0xb6428bc016042b51!2sMaarifa%20House!5e0!3m2!1sen!2stz!4v1639489820224!5m2!1sen!2stz"  height="565" style="border:0;width: 100%" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
