<div class="d-none d-lg-block">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="top-header-phone">
            <i class="fa fa-phone"></i>
            <span>+255786955255</span>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-md-4">
          <div class="top-header-phone">
            <i class="fa fa-envelope-o"></i>
            <span>mukyanuzi@gmail.com</span>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="top-header-social">
            <span>Follow us:</span>
            <a href="#" target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="#" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="#" target="_blank">
              <i class="fa fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-lg-none d-sm-block">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="top-header-phone">
            <i class="fa fa-phone"></i>
            <span>+255786955255</span>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="top-header-phone">
            <i class="fa fa-envelope-o"></i>
            <span>mukyanuzi@gmail.com</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="page">
  <div class="construction text-center">
    <h1 class="title">Under Construction</h1>
    <div class="image">
      <img src="../../assets/construction.png" alt="">
    </div>
    <marquee class="description" width="80%" direction="left">Sorry, we're doing some work on the site
      Thank you for being patient. We are doing some work on the site and will be back shortly.</marquee>

  </div>
</section>
