<div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/slider/slide4.jpg" class="d-block w-100" alt="...">
          <div class="container centered-card">
            <div class="text-center">
              <h1 class="img-title">Welcome to SMA Freight Company Limited</h1>
              <div class="img-position">Strongest Distribution Network</div>
            </div>
          </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/slider/slide2.jpg" class="d-block w-100" alt="...">
      <div class="container centered-card">
        <div class="text-center">
          <h1 class="img-title">TRUNKING</h1>
          <div class="img-position">Powerful Trunking and Logistic Solution</div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/slider/slide1.jpg" class="d-block w-100" alt="...">
      <div class="container centered-card">
        <div class="text-center">
          <h1 class="img-title">Freight Services</h1>
          <div class="img-position">Road, Air, Train, Overseas. We got it covered</div>
        </div>
      </div>
    </div>
  </div>
</div>
