 <section class="project-area">
      <div class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-2 col-padding">
              <div class="section-header" data-aos="fade-up">
                <h3 class="second-headline">SECTOR COVERAGE</h3>
                <span class="cg__symbol">
									<span></span>
								</span>
                <p class="first-headline">
                  We cover different industry sectors, from food and
                  beverage, chemical, retail, durable goods and more.
                  Check the full list.
                </p>
                <mat-list class="position-relative" style="align-content: start" data-aos="fade-up">
                  <li class="value"><i class="fa fa-money fa-1x"></i>Retail</li>
                  <li class="value"><i class="fa fa-times-circle fa-1x"></i>Foods and Bevarage</li>
                  <li class="value"><i class="fa fa-handshake-o fa-1x"></i>Electronics</li>
                  <li class="value"><i class="fa fa-money fa-1x"></i>Automotive</li>
                  <li class="value"><i class="fa fa-times-circle fa-1x"></i>Metals & Coil</li>
                  <li class="value"><i class="fa fa-handshake-o fa-1x"></i>Building Material</li>
                  <li class="value"><i class="fa fa-money fa-1x"></i>Chemicals</li>
                  <li class="value"><i class="fa fa-times-circle fa-1x"></i>Consumer goods</li>
                </mat-list>

              </div>
            </div>
            <div class="col-md-6">
              <div class="section-why-us" data-aos="fade-up">
                <h3 class="second-headline">WHY CHOOSE US</h3>
                <span class="cg__symbol">
									<span></span>
								</span>
              </div>
              <div class="box" data-wow-duration="1.4s" data-aos="fade-up" >
                <div class="icon"><i class="fa fa-codepen"></i></div>
                <h4 class="title"><a>Fast Delivery</a></h4>
                <p class="description">
                  From China, Dubai to Tanzania, by air or sea?
                  We offer fast, reliable and accurate
                  worldwide delivery directly to your doors,
                  factory and warehouses.
                </p>
              </div><div class="box wow bounceInUp" data-aos="fade-up">
                <div class="icon"><i class="fa fa-codepen"></i></div>
                <h4 class="title"><a>End To End Solutions</a></h4>
                <p class="description">
                From 2018 Freight offers new service -
                we are now offering end-to-end solutions
                using multiple transportation means and
                covering all supply chain from the origin
                to the destination.
                </p>
              </div><div class="box wow bounceInUp" data-aos="fade-up">
                <div class="icon"><i class="fa fa-codepen"></i></div>
                <h4 class="title"><a>Safety and Compliance</a></h4>
                <p class="description">
                Safety of your cargo is one of our top
                priorities. Every package is handled with
                most care by our trained and high skilled
                personnel. You can be sure that your cargo
                will travel and arrive safely.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
